flask
flask-restful
flask-cors
sqlalchemy
marshmallow-sqlalchemy
marshmallow
python-dotenv
psycopg2-binary
requests
flask-sqlalchemy
pytest
uptrace
flask_jwt_extended
flask_testing
pytest-cov
pytest-flask
pandas
openpyxl
google-cloud-pubsub
unittest2
urllib3==1.26.15
flask-cors